body {
  margin: 30px auto; /*Расстояние от края элемента до края окна браузера*/
  font-family: Roboto; /*Устанавливает семейство шрифта*/
  background-color: white;
  font-family: Roboto;
}





.main_container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
/*Основной контейнер*/

.site_header {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  z-index: 21; /*Размещением по z-оси*/
  /*transition: height 1s ease-in-out;*/
}
/*Шапка сайта*/

.navigation_container {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}
/*Навигационный контейнер*/

.custom-button {
  font-size: 13px;       /* Размер шрифта, чтобы увеличить кнопку */
  padding: 12px 24px;    /* Внутренние отступы, чтобы кнопка была больше */
  border: 1px solid #E0E0E0; /* Цвет границы, здесь — черный, измените при необходимости */
  background-color: #fff; /* Цвет фона, по желанию */
  color: #000;            /* Цвет текста */
  font-weight: normal;    /* Убираем жирность текста */
  cursor: pointer;        /* Курсор при наведении */
  border-radius: 2px;     /* Скругление углов, по желанию */
  transition: all 0.3s;   /* Плавное изменение при наведении */
}

.nav-container {
  display: flex;
  align-items: center;
}

/* Добавляем межэлементный отступ */
.nav-container > * + * {
  margin-left: 27px; /* или другое значение */
}

.search {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}



#search-input-main {
  margin-top: 50px; /*Устанавливает величину отступа от верхнего края элемента*/
  padding-top: 60px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 10px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

 /* Стиль для поля поиска */
.search-input {
  width: 100%; /* занимает всю ширину контейнера */
  border: none; /* убираем стандартную рамку */
  border-bottom: 1px solid #979797; /* нижняя линия для подчеркнутости */
  outline: none; /* убираем стандартное выделение при фокусе */
  padding: 8px 0; /* немного вертикальных отступов */
  font-size: 16px; /* по необходимости - размер шрифта */
  background: transparent; /* прозрачный фон */
  box-sizing: border-box; /* учитываем padding и border в ширине */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.container {
  padding: 0 var(--container-padding-x);
  margin: auto;
}

.button {
  border: 1px solid var(--color-gray);
  background-color: var(--color-light);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;  
}

.button:hover {
  background-color: var(--color-lightgray);
}

.button:active {
  background-color: var(--color-main);
  color: var(--color-lightgray);
  border-color: var(--color-main);
}

.stores-cards {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 50px;
}

.stores-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.stores-card {  
  text-decoration: none;
  color: var(--color-dark);
}

.stores-card:hover {
  background-color: var(--color-lightergray);
}

.stores-card-pic {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.stores-card-pic img {
  transition: 0.3s;
  width: 100%;
}

.stores-card-pic img:hover {
  transform: scale(1.03);
}

.store-name {
  margin-top: 0.9rem;
}

.store-type {
  color: var(--color-darkgray);
  font-size: 0.875rem;
}

.store-time {
  font-size: 0.8125rem;
}

.store-name,
.store-time,
.store-type {
  margin-bottom: 0.35rem;
}

.stores-header {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .stores-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .stores-cards {
    grid-template-columns: 1fr;
  }
}


.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #262626;
  max-width: 100%;
  height: 100%;
}

.footer-logo {
  padding: 40px 0;
}

hr {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  border-top: 1px solid #979797;
}

.footer-links {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  flex-flow: row;
}

.footer-links-column {
  flex-basis: 33.3333%;
  display: flex;
  flex-flow: column nowrap;
}

.footer-link {
  padding: 8px 0;
  color: white;
  font-size: 13px;
  font-weight: normal;
}

.footer-legal {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.lang-selector {
  border-radius: 5px;
  border-color: #979797;
  color: white;
  font-size: 13px;
  padding: 10px 70px 10px 50px;
  background: url(../images/arrow.svg) 93% / 8% no-repeat
   #979797 ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12rem;
}

.lang-selector:focus {
  outline: none;
}

.lang-selector-container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 24px;
  margin-left: -16px;
}

.lang-selector-container > img {
  position: relative;
  left: 30px;
}

.hashtag {
  display: inline-block;
  font-size: medium;
}

.hashtag::before {
  content: '#';
  color: white;
}

.socials-symbols {
  display: flex;
  gap: 10px;
  padding-top: 6px;
  padding-bottom: 13px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #979797;
}

.footer a:active {
  color: white;
}

.footer-dw-labels {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  /* .lang-selector {
    width: 176px;
  } */
}

@media screen and (max-width: 576px) {
  .footer-links {
    flex-flow: column;
  }
  .footer-links-column {
    flex-basis: 100%;
  }
  .footer-legal {
    flex-flow: column nowrap;
  }
}